[Unit]
Description=tun2socks transparent capture (route-config)
Documentation=https://github.com/xjasonlyu/tun2socks
After=network-online.target xray.service
Wants=network-online.target
Requires=xray.service
PartOf=xray.service

[Service]
Type=simple
# route-config.proxy.tun-route-address=192.168.6.0/24
# route-config.proxy.tun-full-tunnel=true
ExecStartPre=-/bin/sh -c 'if [ "$(cat /sys/class/net/xray0/ifalias 2>/dev/null)" = "route-config:tun2socks" ]; then /usr/sbin/ip link del xray0; fi'
ExecStartPre=-/usr/sbin/ip tuntap del mode tun dev xray0
ExecStartPre=/usr/sbin/ip tuntap add mode tun dev xray0
ExecStartPre=/usr/sbin/ip link set xray0 alias route-config:tun2socks
ExecStartPre=/usr/sbin/ip link set xray0 up
ExecStartPre=-/usr/sbin/ip rule del to 192.168.6.0/24 lookup main suppress_prefixlength 0 pref 8
ExecStartPre=-/usr/sbin/ip rule del fwmark 0x1 lookup main pref 9
ExecStartPre=-/usr/sbin/ip -6 rule del fwmark 0x1 lookup main pref 9
ExecStartPre=-/usr/sbin/ip rule del iif lo lookup 1001 pref 10
ExecStartPre=-/usr/sbin/ip -6 rule del iif lo lookup 1001 pref 10
ExecStartPre=-/usr/sbin/ip rule del iif br0 lookup 1001 pref 11
ExecStartPre=-/usr/sbin/ip -6 rule del iif br0 lookup 1001 pref 11
ExecStartPre=-/usr/sbin/ip rule del iif br0 lookup 1001 pref 10
ExecStartPre=-/usr/sbin/ip -6 rule del iif br0 lookup 1001 pref 10
ExecStartPre=-/usr/sbin/ip rule del lookup 1001 pref 10
ExecStartPre=-/usr/sbin/ip -6 rule del lookup 1001 pref 10
ExecStartPre=-/usr/sbin/iptables -t mangle -D OUTPUT -m owner --uid-owner nobody -j MARK --set-mark 0x1
ExecStartPre=-/usr/sbin/ip6tables -t mangle -D OUTPUT -m owner --uid-owner nobody -j MARK --set-mark 0x1
ExecStartPre=-/usr/sbin/ip route flush table 1001
ExecStartPre=-/usr/sbin/ip -6 route flush table 1001
ExecStartPre=/usr/sbin/ip addr add 198.18.0.1/24 dev xray0
ExecStartPre=/usr/sbin/ip -6 addr add fdfe:dcba:9876::1/126 dev xray0
ExecStart=/usr/local/bin/tun2socks -device tun://xray0 -proxy socks5://127.0.0.1:1080 -mtu 1500 -loglevel info
ExecStartPost=/usr/sbin/ip route add throw 127.0.0.0/8 table 1001
ExecStartPost=/usr/sbin/ip route add throw 10.0.0.0/8 table 1001
ExecStartPost=/usr/sbin/ip route add throw 100.64.0.0/10 table 1001
ExecStartPost=/usr/sbin/ip route add throw 172.16.0.0/12 table 1001
ExecStartPost=/usr/sbin/ip route add throw 192.168.0.0/16 table 1001
ExecStartPost=/usr/sbin/ip route add throw 169.254.0.0/16 table 1001
ExecStartPost=/usr/sbin/ip route add throw 224.0.0.0/4 table 1001
ExecStartPost=/usr/sbin/ip route add throw 240.0.0.0/4 table 1001
ExecStartPost=/usr/sbin/ip route add throw 192.168.0.0/22 table 1001
ExecStartPost=/usr/sbin/ip route add throw 192.168.4.0/23 table 1001
ExecStartPost=/usr/sbin/ip route add throw 192.168.7.0/24 table 1001
ExecStartPost=/usr/sbin/ip route add throw 192.168.8.0/21 table 1001
ExecStartPost=/usr/sbin/ip route add throw 192.168.16.0/20 table 1001
ExecStartPost=/usr/sbin/ip route add throw 192.168.32.0/19 table 1001
ExecStartPost=/usr/sbin/ip route add throw 192.168.64.0/18 table 1001
ExecStartPost=/usr/sbin/ip route add throw 192.168.128.0/17 table 1001
ExecStartPost=/usr/sbin/ip route add throw 106.73.19.129/32 table 1001
ExecStartPost=/usr/sbin/ip route add 192.168.6.0/24 dev xray0 table 1001
ExecStartPost=/usr/sbin/ip route add default dev xray0 table 1001
ExecStartPost=/usr/sbin/ip -6 route add throw ::1/128 table 1001
ExecStartPost=/usr/sbin/ip -6 route add throw fc00::/7 table 1001
ExecStartPost=/usr/sbin/ip -6 route add throw fe80::/10 table 1001
ExecStartPost=/usr/sbin/ip -6 route add throw ff00::/8 table 1001
ExecStartPost=/usr/sbin/ip -6 route add default dev xray0 table 1001
ExecStartPost=/usr/sbin/ip rule add to 192.168.6.0/24 lookup main suppress_prefixlength 0 pref 8
ExecStartPost=/usr/sbin/ip rule add fwmark 0x1 lookup main pref 9
ExecStartPost=/usr/sbin/ip -6 rule add fwmark 0x1 lookup main pref 9
ExecStartPost=/usr/sbin/ip rule add iif lo lookup 1001 pref 10
ExecStartPost=/usr/sbin/ip -6 rule add iif lo lookup 1001 pref 10
ExecStartPost=/usr/sbin/ip rule add iif br0 lookup 1001 pref 11
ExecStartPost=/usr/sbin/ip -6 rule add iif br0 lookup 1001 pref 11
ExecStartPost=/usr/sbin/iptables -t mangle -A OUTPUT -m owner --uid-owner nobody -j MARK --set-mark 0x1
ExecStartPost=/usr/sbin/ip6tables -t mangle -A OUTPUT -m owner --uid-owner nobody -j MARK --set-mark 0x1
ExecStopPost=-/usr/sbin/iptables -t mangle -D OUTPUT -m owner --uid-owner nobody -j MARK --set-mark 0x1
ExecStopPost=-/usr/sbin/ip6tables -t mangle -D OUTPUT -m owner --uid-owner nobody -j MARK --set-mark 0x1
ExecStopPost=-/usr/sbin/ip rule del to 192.168.6.0/24 lookup main suppress_prefixlength 0 pref 8
ExecStopPost=-/usr/sbin/ip rule del fwmark 0x1 lookup main pref 9
ExecStopPost=-/usr/sbin/ip -6 rule del fwmark 0x1 lookup main pref 9
ExecStopPost=-/usr/sbin/ip rule del iif lo lookup 1001 pref 10
ExecStopPost=-/usr/sbin/ip -6 rule del iif lo lookup 1001 pref 10
ExecStopPost=-/usr/sbin/ip rule del iif br0 lookup 1001 pref 11
ExecStopPost=-/usr/sbin/ip -6 rule del iif br0 lookup 1001 pref 11
ExecStopPost=-/usr/sbin/ip rule del iif br0 lookup 1001 pref 10
ExecStopPost=-/usr/sbin/ip -6 rule del iif br0 lookup 1001 pref 10
ExecStopPost=-/usr/sbin/ip rule del lookup 1001 pref 10
ExecStopPost=-/usr/sbin/ip -6 rule del lookup 1001 pref 10
ExecStopPost=-/usr/sbin/ip route flush table 1001
ExecStopPost=-/usr/sbin/ip -6 route flush table 1001
ExecStopPost=-/bin/sh -c 'if [ "$(cat /sys/class/net/xray0/ifalias 2>/dev/null)" = "route-config:tun2socks" ]; then /usr/sbin/ip link del xray0; fi'
ExecStopPost=-/usr/sbin/ip tuntap del mode tun dev xray0
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
